<a href="https://colab.research.google.com/github/GENNYB7/KNN/blob/main/KNN_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

following the solution.

In [ ]:
# mount the drive/data
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#import libraries

import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
# import linear regression model
from sklearn.linear_model import LinearRegression
#for scaling data
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.model_selection import train_test_split

In [ ]:
abalone_df = pd.read_csv('/content/drive/MyDrive/Coding_Dojo/Machine Learning/abalone.data')
abalone_df

      M  0.455  0.365  0.095   0.514  0.2245   0.101    0.15  15
0     M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.0700   7
1     F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.2100   9
2     M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.1550  10
3     I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.0550   7
4     I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.1200   8
...  ..    ...    ...    ...     ...     ...     ...     ...  ..
4171  F  0.565  0.450  0.165  0.8870  0.3700  0.2390  0.2490  11
4172  M  0.590  0.440  0.135  0.9660  0.4390  0.2145  0.2605  10
4173  M  0.600  0.475  0.205  1.1760  0.5255  0.2875  0.3080   9
4174  F  0.625  0.485  0.150  1.0945  0.5310  0.2610  0.2960  10
4175  M  0.710  0.555  0.195  1.9485  0.9455  0.3765  0.4950  12

[4176 rows x 9 columns]

In [ ]:
# Rename columns
abalone_df.columns = ['Sex', 'Length', 'Diameter', 'Height', 'Whole_weight', 'Shucked_weight', 
              'Viscera_weight', 'Shell_weight', 'Rings'] # rings +1.5 gives the age in years?

In [ ]:
abalone_df['Sex'].value_counts()

M    1527
I    1342
F    1307
Name: Sex, dtype: int64

In [ ]:
#why was the 'ring' column left out?, will it change results much if added in?
#we would have to turn str into float first
X = abalone_df[['Length', 'Diameter', 'Height', 'Whole_weight', 'Shucked_weight', 
              'Viscera_weight', 'Shell_weight']]
Y = abalone_df['Rings']

In [ ]:
#Standardize data
scaler = StandardScaler()
#Fit on X
scaler.fit(X)
#Transform X
X = scaler.transform(X);

In [ ]:
# KNN - Regressor
knn_reg = KNeighborsRegressor()
knn_reg.fit(X, Y)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [ ]:
# Predict age
preds = knn_reg.predict(X)

In [ ]:
# Evaluate model - this is R2 score
knn_reg.score(X, Y)

0.6582492859136977

In [ ]:
#Predict sex from features
#arrange data into features matrix and target vector
X = abalone_df[['Length', 'Diameter', 'Height', 'Whole_weight', 'Shucked_weight', 
              'Viscera_weight', 'Shell_weight']]
Y = abalone_df['Sex']

In [ ]:
scaler = StandardScaler()
#Fit on X
scaler.fit(X)
#Transform X
X = scaler.transform(X);

In [ ]:
knn_clas = KNeighborsClassifier(n_neighbors=2)
knn_clas.fit(X, Y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [ ]:
preds = knn_clas.predict(X)

In [ ]:
knn_clas.score(X,Y)

0.7533524904214559